@import url("@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');");

:root {
  --primary: #630404
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.main {
  font-size: 2rem;
  text-align: center;
}